    @charset "UTF-8";
    html {
        font-size: 62.5%;
    }
    
    body {
        color: #333;
        font-size: 1.2rem;
        font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: #d03c56;
        text-decoration: none;
    }
    
    .clearfix::after {
        content: '';
        display: block;
        clear: both;
    }
    
    .hidden {
        display: none;
    }
    
    .header {
        padding: 28px 0 10px;
        background: url('../images/bg-header.gif') repeat-x;
        box-shadow: 0 0 10px 1px #e3e3e3;
    }
    
    .logo {
        width: 225px;
        height: 56px;
        background: url('../images/logo.png') no-repeat;
        margin: 0 auto;
        text-indent: 100%;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .logo a {
        width: 100%;
        height: 100%;
        display: block;
    }
    
    .global-nav {
        width: 100%;
        text-align: center;
        margin-top: 15px;
        height: 30px;
    }
    
    .global-nav .nav-item {
        display: inline-block;
        width: 100px;
    }
    
    .global-nav .nav-item a {
        color: black;
        font-size: 1.3rem;
        line-height: 30px;
        letter-spacing: 1px;
        border-radius: 8px;
        padding: 10px 20px;
        transition: 0.15s;
    }
    
    .global-nav .nav-item.active a,
    .global-nav .nav-item a:hover {
        color: white;
        background-color: red;
    }
    
    .wrapper {
        width: 970px;
        margin: 30px auto 40px;
    }
    
    .main {
        display: block;
        float: left;
        width: 660px;
    }
    
    .hot-topic {
        display: block;
        height: 300px;
        margin-bottom: 30px;
        box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
        transition: opacity 0.15s;
    }
    
    .hot-topic:hover {
        opacity: 0.85;
    }
    
    .hot-topic .image {
        float: left;
        width: 50%;
        height: 100%;
    }
    
    .hot-topic .content {
        position: relative;
        float: left;
        width: 50%;
        height: 100%;
        padding: 105px 25px 0;
        background-color: #2d3d54;
        line-height: 1.6;
    }
    
    .hot-topic .title {
        margin-bottom: 15px;
        color: #fff;
        font-weight: normal;
        font-size: 2.0rem;
    }
    
    .hot-topic .desc {
        color: #ddc;
    }
    
    .hot-topic .date {
        position: absolute;
        top: 60px;
        left: 0;
        width: 140px;
        padding: 4px;
        background-color: #fff;
        color: #2d3d54;
        text-align: center;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 1.1rem;
        line-height: 1;
    }
    
    .heading {
        background: url('../images/bg-slash.gif');
        font-size: 1.6rem;
        padding: 10px 12px;
        letter-spacing: 1px;
    }
    
    .scroll-list {
        max-height: 220px;
        overflow-y: auto;
        margin-bottom: 30px;
        list-style-type: none;
    }
    
    .scroll-list .scroll-item a {
        display: block;
        padding: 10px 15px;
        color: #333;
        transition: background-color 0.1s;
        font-size: 0;
    }
    
    .scroll-list .scroll-item:nth-of-type(even) a {
        background: url('../images/bg-slash.gif');
    }
    
    .scroll-list .scroll-item a:hover {
        background-color: #fafaf8;
    }
    
    .scroll-list .date {
        display: inline-block;
        width: 19%;
        font-size: 1.0rem;
        letter-spacing: 1px;
        font-weight: bold;
    }
    
    .scroll-list .category {
        display: inline-block;
        width: 8%;
        font-size: 1.0rem;
        background-color: #d03c56;
        font-weight: bold;
        text-align: center;
        color: white;
        line-height: 16px;
        border-radius: 5px;
    }
    
    .scroll-list .category.news {
        background-color: #2c3c53;
    }
    
    .scroll-list .title {
        display: inline-block;
        width: 73%;
        padding-left: 15px;
        font-size: 1.2rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .sidemenu {
        float: right;
        width: 275px;
    }
    
    .article-box {
        display: block;
        width: 315px;
        height: 360px;
        box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
        transition: opacity 0.15s;
        margin-bottom: 30px;
        position: relative;
        padding: 210px 15px 0;
    }
    
    .article-box:hover {
        opacity: 0.8;
    }
    
    .article-box .title {
        margin-top: 30px;
        color: #333;
        font-size: 1.4rem;
        line-height: 1.6;
    }
    
    .article-box .desc {
        margin-top: 5px;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .article-box .date {
        position: absolute;
        right: 0;
        bottom: 15px;
        width: 160px;
        padding: 4px;
        background-color: yellowgreen;
        color: #2d3d54;
        text-align: center;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 1.1rem;
    }
    
    .article-box .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    
    .article-box:nth-of-type(odd) {
        float: left;
    }
    
    .article-box:nth-of-type(even) {
        float: right;
    }
    
    .ranking {
        margin-bottom: 30px;
        list-style-type: none;
        counter-reset: ranking;
        overflow-y: auto;
        height: 505px;
        width: 295px;
    }
    
    .ranking .ranking-item {
        position: relative;
        margin-top: 15px;
    }
    
    .ranking .ranking-item a {
        display: block;
        font-size: 0;
        transition: opacity 0.15s;
    }
    
    .ranking .ranking-item a:hover {
        opacity: 0.8;
    }
    
    .ranking .image {
        width: 55px;
        height: 55px;
    }
    
    .ranking .text {
        font-size: 1.2rem;
        display: inline-block;
        width: 182px;
        color: black;
        vertical-align: top;
        line-height: 1.5;
        margin-left: 20px;
    }
    
    .ranking .order {
        position: absolute;
        top: -5px;
        left: 33px;
        display: inline-block;
        width: 18px;
        height: 18px;
        color: rgb(122, 122, 122);
        background-color: white;
        margin: 0 10px;
        border: 1px solid #ccc;
        vertical-align: 20px;
        text-align: center;
        font-weight: bold;
        line-height: 16px;
        border-radius: 30px;
    }
    
    .ranking .ranking-item:nth-of-type(1) .order,
    .ranking .ranking-item:nth-of-type(2) .order,
    .ranking .ranking-item:nth-of-type(3) .order {
        border: none;
        color: #fff;
        font-weight: normal;
        line-height: 18px;
    }
    
    .ranking .ranking-item:nth-of-type(1) .order {
        background-color: #dab413;
    }
    
    .ranking .ranking-item:nth-of-type(2) .order {
        background-color: #6e7b84;
    }
    
    .ranking .ranking-item:nth-of-type(3) .order {
        background-color: #a0541a;
    }
    
    .ranking .order::before {
        content: counter(ranking);
        counter-increment: ranking;
        display: inline-block;
        font-size: 1rem;
    }
    
    .documents {
        margin: 10px 10px 30px;
    }
    
    .documents,
    .documents ul {
        list-style-type: none;
    }
    
    .documents>li .title {
        margin: 15px 0;
        padding-left: 8px;
        border-left: 5px solid #d03c56;
        font-size: 1.4rem;
        line-height: 1.2;
    }
    
    .documents>li+li {
        margin-top: 25px;
    }
    
    .documents>li ul>li {
        margin-bottom: 15px;
        padding-left: 10px;
        background: url('../images/arrow.gif') no-repeat left center;
    }
    
    .documents a:hover {
        text-decoration: underline;
    }
    
    .search-box {
        background-color: #ccc;
        padding: 15px;
        font-size: 0;
    }
    
    .search-box .search-input {
        width: 205px;
        height: 26px;
        padding: 0 10px;
        border: none;
    }
    
    .search-box .search-button {
        width: 40px;
        height: 26px;
        border: none;
        color: #fff;
        background-color: crimson;
        cursor: pointer;
    }
    
    .search-box>* {
        font-size: 1.2rem;
    }
    
    .search-box .text {
        margin-top: 12px;
    }
    
    .footer {
        width: 100%;
        background: #2d3d54 url(../images/bg-footer.gif);
        color: #fff;
        padding: 20px 0 30px;
    }
    
    .horizontal-list {
        width: 970px;
        margin: 0 auto;
        text-align: right;
        font-size: 0;
    }
    
    .horizontal-list .horizontal-item {
        display: inline-block;
        padding: 0 15px;
        letter-spacing: 1px;
    }
    
    .horizontal-list .horizontal-item+.horizontal-item {
        border-left: 1px solid #ddd;
    }
    
    .horizontal-list .horizontal-item a {
        font-size: 1.1rem;
        border-bottom: 1px dashed #777;
        color: #bbb;
        transition: color 0.15s;
    }
    
    .horizontal-list .horizontal-item a:hover {
        color: #ddd;
    }
    
    .copyright {
        margin-top: 30px;
        text-align: center;
        letter-spacing: 1px;
    }
    /* --------------------------------
 * challenge
 *
 * 288行目からの.ranking .order, .ranking .order::beforeの
 * スタイルをコメントアウトしてから適用してください。
 * -------------------------------- */
    /*
.ranking .ranking-item {
  position: relative;
}
.ranking .image {
  margin-right: 20px;
}
.ranking .order {
  position: absolute;
  top: -9px;
  left: 44px;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  color: #aaa;
  text-align: center;
  font-weight: bold;
  line-height: 18px;
}
.ranking .order::before {
  content: counter(ranking);
  counter-increment: ranking;
  font-size: 1.0rem;
}
.ranking .ranking-item:nth-of-type(1) .order,
.ranking .ranking-item:nth-of-type(2) .order,
.ranking .ranking-item:nth-of-type(3) .order {
  line-height: 20px;
}
.ranking .text {
  width: 200px;
}
*/